.top-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  padding: 40px;
  border: 3px solid #003d38;
  border-radius: 24px;
  background-color: #ffffff;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin-top: 41px;
  gap: 60px;
}

.details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.recipe-photo-container {
  display: flex;
}


.recipe-photo {
  border-radius: 32px;
}

.basic-info {
  display: flex;
  flex-direction: column;
  align-items: normal;
  gap: 10px;
  justify-content: space-between;
  font-size: 16px;
}

.time-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.servings-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

#clock-icon {
  width: 24px;
  height: 24px;
}

#servings-icon {
  width: 24px;
  height: 24px;
}

.food-type-container {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.diet-label {
  background-color: #00a396;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: white;
  width: 106px;  
  border: 1px solid #00a396; 
}

.section-container {
  display: flex;
  flex-direction: row;
  align-items: self-start;
  justify-content: space-between;
}

.ingredients-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ingredient-item {
  border-bottom: 1px solid #cfcfcf;
  font-size: 24px;
}

.nutrients-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6faf8;
  text-align: center; 
  border-radius: 16px;
  background-color: #e6faf8;
}
.nutrients-item {
  font-size: 18px;
  text-align: left;
  align-items: left;
}
.directions-container {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.direction-item {
  border-bottom: 1px solid #cfcfcf;
  font-size: 20px;
  padding: 10px;
}
.direction-step-item {
  font-size: 20px;
  padding: 10px;
}
.green-font {
  color: #003d38;
}