/* styles.css */
.blackButton {
  color: black;
  background-color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.blackButton:hover,
.blackButton:focus {
  background-color: black;
  opacity: 0.8;
}
