.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 520px;
}

/* Top half of the card (image, title and icons) */
.card-top-content {
  display: flex;
  flex-direction: row;
}

.food-image {
  height: 250px;
  border-radius: 10px;
}

.food-title {
  width: 100%;
  padding: 15px;
  font-size: 24px;
  /* text-align: left; */
}

.single-param {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}

.single-param img {
  height: 30px;
  margin: 10px;
}

.single-param p {
  /* font-size: 16px;
  margin: 10px; */
}

.close-button {
  margin-left: auto;
  display: flex;
  text-align: right;
  cursor: pointer;
  height: 100%;
}

/* Bottom half of the card (description) */
.card-bottom-content {
  /* padding: 10px; */
  height: fit-content;
}

.card-description-title {
  text-align: left;
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 5px;
}

.card-description {
  text-align: left;
  margin: 10px;
}

.card-button {
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
}

.card-button button {
  font-size: 14px;
  height: fit-content;
}
