.card {
  max-width: 220px;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(247, 242, 237);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05); /* Slightly increase size */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.cardMedia {
  height: 250px;
  object-fit: cover;
}

.cardContent {
  padding: 16px;
  padding-bottom: 2px;
  position: relative;
}

.title {
  font-size: 1.2rem; /* Adjusted for better responsiveness */
  font-weight: 800;
  padding-bottom: 15px;
  margin-bottom: 26px;
  font-family: Arial; /* Changed from font-style to font-family */
}

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fdf7f8;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 16px;
  box-sizing: border-box;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
