.home-container {
  display: flex;
  height: 100%;
}

.filter-container {
  flex: 1;

}

.features-and-food-list-container {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.search-and-sort-panel {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.search-bar {
  flex: 1;
}


.food-list {
  height: auto;
  overflow-y: auto;
}
